$base-duration: .5s;
$use-fadeIn: true;
$use-fadeInLeft: true;
$use-fadeInRight: true;
$use-fadeOut: true;
$use-fadeOutLeft: true;
$use-fadeOutRight: true;
$use-slideInDown: true;
$use-slideOutUp: true;
$use-slideInUp: true;
$use-slideOutDown: true;
$use-slideInLeft: true;
$use-slideOutRight: true;
$use-slideInRight: true;
$use-slideOutLeft: true;
$use-rotateIn: true;
$use-rotateOut: true;
